/*general section*/
p { margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif; 
}
/*header section*/
.header-flexbox {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.left-section-flexbox {
    display: flex;
    background-color: lightblue;
    /*width: 130px;
    fixed width can cause elements to overflow.
    default flexbox expands to cover all elements*/
    align-items: center; 
    padding-right: 12px;
    padding-left: 12px; 
}
.hamburger-menu {
    height: 24px;
    margin-right: 15px; 
}
.youtube-logo {
    height: 20px; 
}
.middle-section-flexbox {
    background-color: lightpink;
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    /*otherwise elements expand vertically*/
    padding-left: 12px;
    padding-right: 12px; 
}
.search-box {
    font-size: 18px;
    flex: 1;
    height: 40px;
    padding-left: 12px;
    font-size: 16;
    border-color: rgb(180, 180, 180);
    border-style: solid;
    border-width: 1px;
    width: 100px; 
    /*acts like minimum width when set to flex*/ 
}
/*style placeholder text*/
.search-box::placeholder { 
    font-size: 16; }

.search-button {
    width: 50px;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    /*negative margin*/
    margin-left: -1px; 
}
.search-icon, 
.voice-search-icon {
    height: 26px; 
}
.voice-search-button {
    width: 40px;
    height: 40px;
    border-radius:50%;
    margin-left: 10px;
    border: none; 
}
.right-section-flexbox {
    display: flex;
    background-color: lightblue;
    width: 200px;
    align-items: center; 
    /*otherwise elements expand vertically*/
    justify-content: space-between;
    padding-right: 12px;
    padding-left: 12px;
    flex-shrink: 0; 
    /*even with fixed width, resizing the viewing window
    shrinks the flexboxs having more space than their inner 
    elements require. so width kinda acts like max width*/ 
}
.options-button,
.upload-button,
.notifications-button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
    border-radius: 50%; 
}
.options-icon,
.upload-icon,
.notifications-icon {
    height: 24px; 
}
.account-button {
    height: 40px;
    width: 40px;
    padding-left: 0;
    padding-top: 0;
    border: none;
    background-color: lightblue; 
}
.account-icon {
    width: 36.5px;
    height: 36.5px;
    border-radius: 50%; 
}

/*video preview section*/
.video-preview-div {
    background-color: rgb(235, 240, 255);
    padding-bottom: 20px; 
    min-width: 300px; 
}
.video-thumbnail {
    width: 100%; 
}
.pro-pic {
    width:80%;
    border-radius: 50%; 
}
.video-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 12px; 
}
.video-author,
.video-stats {
    font-size: 14px;
    color: rgb(40, 40, 40); 
}
.video-author {
    margin-bottom: 4px; 
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
    margin-top: 10px; 
}
.video-pic-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 10px; 
}
